body {
	color: #dee3e0;
	background-color: #101112;
	font-family: monospace;
	display: grid;
	align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#window {
    position: absolute;
}

nav {
	background-color: #373b41;
	padding: 8px;
    cursor: move;
}

main {
	background-color: #252629;
	overflow-wrap: break-word;
	padding: 16px;
}

table {
	border-collapse: collapse;	
	width: 100%;
}

td, th {
	border: 1px solid #494e54;
	white-space: pre-line;
	text-align: left;
	padding: 8px;
}

th {
	background-color: #373b41;
}

a {
	color: #288ce0;
	text-decoration: none;
}

.center {
	margin: auto;
	max-width: 512px;
}

.right {
	float: right;
}
